@use "../colors.scss" as *;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Individual Element Styling */

/* Grid Styling */
.grid {
  display: grid;
  grid-template-columns: 2.5vw 10vw 44vw 43.5vw;
  grid-template-rows: 4vh 4vh 70vh 32vh;

  height: 100vh;
  background-color: rgb(141, 82, 5);
}

.header {
  background-color: $background-darker;
  border: 1px solid $border;
  grid-area: 1 / 1 / 1 / 5; /* sr sc er ec */
}

.fileNameLeft {
  background-color: $background-darker;
  border: 1px solid $border;
  border-top: 0;
  border-left: 0;
  grid-area: 2 / 3 / 2 / 3;
}

.fileNameRight {
  background-color: $background-darker;
  border: 1px solid $border;
  border-top: 0;
  border-left: 0;

  grid-area: 2 / 4 / 2 / 34;
}

.leftPanel {
  background-color: $background-darker;
  border: 1px solid $border;
  border-top: 0;

  grid-area: 2 / 1 / 5 / 1;
}

.explorer {
  background-color: $background-darker;
  border: 1px solid $border;
  border-top: 0;
  border-left: 0;

  grid-area: 2 / 2 / 5 / 2;
}

.codeWindowLeft {
  background-color: $background-lighter;
  border: 1px solid $border;
  border-top: 0;
  border-left: 0;

  grid-area: 3 / 3 / 3 / 3;
}

.codeWindowRight {
  background-color: $background-lighter;
  border: 1px solid $border;
  border-top: 0;
  border-left: 0;

  grid-area: 3 / 4 / 3 / 4;
}

.terminal {
  background-color: $background-darker;
  grid-area: 4 / 3 / 5 / 5;
}
