$background-darker: #181818;
$background-lighter: #1f1f1f;

$background-search: #242424;
$border-search: #454545;
$border: #2b2b2b;

$hover: #2d2e2e;

$text-selected: #bcbcbc;
$text-not-selected: #727272;